.inner-content{
    #top{
        padding: 0 1rem;
        img{max-width: 35%;}
        h2{
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
        #map_modal{
            height: 11rem;
            border-radius: 20px;
            margin-bottom: 2rem;
        }
    }
    .text{
        padding: 0 2.3rem;
        p{
            opacity: .5;
            font-size: 13px;
            color: var(--ion-color-dark);
        }
        &::before, &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            opacity: .1;
            margin: 2rem 0;
            background: var(--ion-color-dark);
        }
    }
    ion-button{
        height: auto;
        font-size: 13px;
        text-transform: none;
        --padding-top: .6rem;
        --padding-end: 3rem;
        --padding-start: 3rem;
        --padding-bottom: .6rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
        img{
            max-width: 25px;
            margin-right: 10px;
        }
    }
}