.inner-content{
    #top{
        padding: 0 3rem;
        ion-img{
            margin: auto;
            max-width: 35%;
        }
        h2{
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .text{
        padding: 0 2.3rem;
        p{
            opacity: .5;
            font-size: 13px;
            color: var(--ion-color-dark);
        }
        &::before, &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            opacity: .1;
            margin: 2rem 0;
            background: var(--ion-color-dark);
        }
    }
    ion-button{
        height: auto;
        font-size: 13px;
        margin-top: 3rem;
        text-transform: none;
        --padding-top: .9rem;
        --padding-end: 4.5rem;
        --padding-start: 4.5rem;
        --padding-bottom: .9rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
    }
    ion-item{
        --padding-start: 0;
        --inner-padding-end: 0;
        --ion-color-primary: var(--ion-color-tertiary);
        ion-label{
            opacity: .5;
            font-size: 13px;
        }
    }
}