<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seja autônomo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
      
  <div id="image">
    <ion-icon name="construct" color="dark"></ion-icon>
  </div>

  <div id="text">
    <div class="ion-text-center">
      <h2 class="ion-margin-bottom">Teste Grátis por 30 dias!</h2>
      <p class="ion-no-margin">Venha ser um autônomo.<br>Coloque seus serviços para todos poderem contatar você!</p>
    </div>
  </div>

  <ion-button expand="block" color="dark" class="ion-margin-top" (click)="presentActionSheet()">Começar teste</ion-button>

</ion-content>
