<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circular"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="empty-list" *ngIf="!object_list.length && !loading">
    <div class="ion-text-center">
      <ion-icon name="construct"></ion-icon>
      <h2>Nenhum registro encontrado!</h2>
    </div>
  </div>

  <ion-grid>
    <ion-row *ngIf="!loading">
      <ion-col size="6" *ngFor="let obj of object_list">
        <ion-card color="dark" mode="ios" routerDirection="forward" routerLink="/service/{{ obj.id }}/autonomous">
          <ion-img src="{{ obj.icon }}" class="ion-padding"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loading">
      <ion-col size="6" *ngFor="let index of [0,1,2,3,4,5,6,7]">
        <ion-card>
          <ion-skeleton-text animated class="ion-no-margin" style="height: 8rem;"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
