ion-content{
    --background: #FFF;
    #top{
        padding: 0 2rem;
        h2{
            font-size: 22px;
            margin: 1rem 0 1.5rem;
            font-family: 'Poppins', sans-serif;
        }
    }
    ion-item{
        --padding-start: 0;
        ion-label{
            font-size: 13px;
        }
    }
    small{
        opacity: .5;
        color: var(--ion-color-dark);
    }
    ion-button{
        height: auto;
        font-size: 13px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-transform: none;
        --padding-top: .9rem;
        --padding-end: 4.5rem;
        --padding-start: 4.5rem;
        --padding-bottom: .9rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
    }
}