<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="inner-content ion-padding-horizontal ion-padding-bottom ion-text-center">

  <div id="top">
    <ion-icon [name]="isTicket() ? 'barcode' : 'card'" color="tertiary" style="font-size: 5rem;"></ion-icon>
    <ion-text color="tertiary"><h2 class="font-weight-bold">Confirme os dados da assinatura</h2></ion-text>
  </div>

  <ion-item>
    <ion-label color="dark" class="font-weight-bold">Pagamento</ion-label>
    <ion-note slot="end">{{ isTicket() ? 'Boleto' : 'Cartão de Crédito'  }}</ion-note>
  </ion-item>
  <ion-item>
    <ion-label color="dark" class="font-weight-bold ion-text-wrap">Apartir de hoje</ion-label>
    <ion-note slot="end">Avaliação gratuita de {{ config.trial_period }} dias</ion-note>
  </ion-item>
  <ion-item>
    <ion-label color="dark" class="font-weight-bold ion-text-wrap">Apartir de {{ first_pay|date:'dd' }} de {{ first_pay|date:'MMM.' }} de {{ first_pay|date:'yyyy' }}</ion-label>
    <ion-note slot="end">{{ config.value|currency:'BRL' }}/mês</ion-note>
  </ion-item>
  <ion-item *ngIf="isTicket()">
    <ion-label color="dark" class="font-weight-bold">Taxa de boleto</ion-label>
    <ion-note slot="end">R$ 1,00</ion-note>
  </ion-item>

  <ion-item *ngIf="isTicket()">
    <ion-label color="dark" class="ion-text-wrap">O cancelamento é efetuado no dia seguinte do vencimento do boleto</ion-label>
  </ion-item>
  <ion-item *ngIf="!isTicket()">
    <ion-label color="dark">Cancele a qualquer momento</ion-label>
  </ion-item>
  <ion-item *ngIf="!isTicket()">
    <ion-label color="dark" class="ion-text-wrap">Não haverá cobrança se você cancelar antes de {{ first_pay|date:'dd' }} de {{ first_pay|date:'MMM.' }} de {{ first_pay|date:'yyyy' }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="dark" class="ion-text-wrap">Você receberá um lembrete 2 dias antes do fim da avaliação</ion-label>
  </ion-item>
  <div class="ion-margin-vertical font-weight-bold">
    <small *ngIf="!isTicket()">
      O faturamento começará ao final da avaliação gratuita.
      A partir de {{ first_pay|date:'dd' }} de {{ first_pay|date:'MMM.' }} de {{ first_pay|date:'yyyy' }},
      você receberá uma cobrança automática de {{ config.value|currency:'BRL' }} a cada mês até que cancele a assinatura.
    </small>
    <small *ngIf="isTicket()">
      O boleto será enviado no dia {{ first_pay|date:'dd' }} de {{ first_pay|date:'MMM.' }} de {{ first_pay|date:'yyyy' }},
      com vencimento após 5 dias. O cancelamento é efetuado caso o boleto não seja pago até data do vencimento.
      Você receberá o boleto automático de {{ config.value|currency:'BRL' }} (mas a taxa do boleto de R$ 1,00), a cada mês até que cancele a assinatura.
    </small>
  </div>

  <ion-button color="tertiary" (click)="confirm()" class="font-weight-bold">Confirmar</ion-button>

</div>
