<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" color="light">Solicitar serviço</ion-title>
  </ion-toolbar>
  <ion-slides [options]="slideOption" *ngIf="!loading && !global.category">
    <ion-slide *ngFor="let object of categories">
      <ion-card button class="ion-no-margin" color="light" (click)="global.category = object">
        <ion-card-content>
          <ion-img src="{{ object.icon }}" alt=""></ion-img>
          <p class="font-weight-bold">{{ object.name }}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="slideOption" *ngIf="loading && !global.category">
    <ion-slide *ngFor="let object of [1,2,3,4]">
      <ion-card class="ion-no-margin" color="light">
        <ion-skeleton-text animated class="ion-no-margin" style="height: 8rem;"></ion-skeleton-text>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div id="category" *ngIf="global.category">
    <ion-card button class="ion-no-margin" color="tertiary">
      <ion-card-content>
        <ion-img src="{{ global.category.icon }}" alt=""></ion-img>
        <p class="font-weight-bold" style="margin-top: .5rem;">{{ global.category.name }}</p>
      </ion-card-content>
    </ion-card>
    <ion-text color="light"><h4 class="font-weight-bold">Adicione suas informações para o profissional</h4></ion-text>
  </div>
</ion-header>

<ion-content>

  <section id="professional">
    <ion-card button class="ion-no-margin" (click)="addProfessional()">
      <ion-card-content class="ion-no-padding">
        <ion-item detail lines="none" *ngIf="!global.professional">
          <ion-note slot="start" class="ion-no-margin">
            <ion-img src="assets/icon/add-user.png" alt=""></ion-img>
          </ion-note>
          <ion-label>
            <ion-text color="dark"><h5 class="title">Profissional</h5></ion-text>
            <p class="text">adicione o profissional para o seu trabalho</p>
          </ion-label>
        </ion-item>
        <ion-item detail lines="none" *ngIf="global.professional" [ngClass]="{'hasData': global.professional}">
          <ion-avatar slot="start">
            <ion-img [src]="global.professional.photo ? global.professional.photo : 'assets/user.png'" alt=""></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-text color="dark"><h5 class="title font-weight-bold">{{ global.professional.first_name }} {{ global.professional.last_name }}</h5></ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </section>

  <section id="address" *ngIf="global.address">
    <ion-card button class="ion-no-margin" 
      (click)="!global.address.address && !global.address.number && !global.address.district && !global.address.city ? addAddress() : null">
      <ion-card-content class="ion-no-padding">
        <ion-item detail lines="none">
          <ion-note slot="start" class="ion-no-margin">
            <ion-img src="assets/icon/map-marker-gray.png" alt=""></ion-img>
          </ion-note>
          <ion-label>
            <ion-text color="dark"><h5 class="title font-weight-bold">Endereço</h5></ion-text>
            <p 
              *ngIf="global.address.address && global.address.number && global.address.district && global.address.city" 
              class="text">
              {{ global.address.address }},
              {{ global.address.number }}
              {{ global.address.complement ? '|'+global.address.complement : '' }} | 
              {{ global.address.district }} | {{ global.address.city.name }}
            </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
      <div id="map" *ngIf="global.address.lat && global.address.lng"></div>
    </ion-card>
    <ion-radio-group 
      [(ngModel)]="addressOption" 
      *ngIf="global.address.address && global.address.number && global.address.district && global.address.city" 
      (ionChange)="addressOption == 'other' ? addAddress() : null">
      <ion-item lines="none">
        <ion-radio slot="start" color="tertiary" value="current"></ion-radio>
        <ion-label class="ion-text-wrap">usar esse endereço</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-radio slot="start" color="tertiary" value="other"></ion-radio>
        <ion-label class="ion-text-wrap">serviço para outro endereço</ion-label>
      </ion-item>
    </ion-radio-group>
  </section>

  <section id="calendar">
    <ion-card button class="ion-no-margin" (click)="addDatetime()">
      <ion-card-content class="ion-no-padding">
        <ion-item detail lines="none" [ngClass]="{'hasData': global.date && global.time}">
          <ion-note slot="start" class="ion-no-margin">
            <ion-img src="assets/icon/calendar-circle-gray.png" alt=""></ion-img>
          </ion-note>
          <ion-label *ngIf="!global.date && !global.time">
            <ion-text color="dark"><h5 class="title">escolha uma data e horário</h5></ion-text>
          </ion-label>
          <ion-label *ngIf="global.date && global.time">
            <ion-text color="dark"><h4 id="date" class="font-weight-bold">{{ global.date|date:'dd/MM' }}</h4></ion-text>
            <ion-text color="dark"><h5 id="hour">{{ global.time }}</h5></ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </section>

  <section id="observation">
    <ion-card class="ion-no-margin">
      <ion-card-content class="ion-no-padding">
        <ion-item button detail lines="none" (click)="addObservation()" [ngClass]="{'hasData': global.observation}">
          <ion-note slot="start" class="ion-no-margin">
            <ion-img src="assets/icon/gratipay-gray.png" alt=""></ion-img>
          </ion-note>
          <ion-label>
            <ion-text color="dark"><h5 class="title font-weight-bold">Observações</h5></ion-text>
            <p class="text">{{ global.observation ? global.observation : 'adicione mais informações' }}</p>
          </ion-label>
        </ion-item>
        <ion-grid>
          <ion-row *ngIf="global.images.length">
            <ion-col size="6" *ngFor="let image of global.images; let i = index">
              <ion-card button class="ion-no-margin" (click)="removePhoto(i)">
                <ion-img [src]="image.path" alt=""></ion-img>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card button class="ion-no-margin add-photo" (click)="takePhoto()">
                <ion-card-content>
                  <ion-img src="assets/icon/add-photo.png" alt=""></ion-img>
                  <p class="font-weight-bold ion-no-margin">adicionar imagem</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card button class="ion-no-margin add-photo" (click)="takePhoto()">
                <ion-card-content>
                  <ion-img src="assets/icon/add-photo.png" alt=""></ion-img>
                  <p class="font-weight-bold ion-no-margin">adicionar imagem</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </section>

  <div id="request" class="ion-text-center">
    <ion-button color="tertiary" class="font-weight-bold" (click)="save()">Solicitar serviço</ion-button>
  </div>

</ion-content>
