ion-header{
    background: linear-gradient(to top, #FFF 25%, var(--ion-color-tertiary) 0);
    ion-title{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    ion-card{
        box-shadow: none;
        ion-card-content{
            text-align: center;
            padding: 1.5rem 1rem;
            img{
                width: 45px;
                height: 45px;
                padding: .5rem;
                object-fit: contain;
                border-radius: 10px;
                background: var(--ion-color-secondary);
            }
        }
    }
    ion-slides{
        padding: .5rem 1.2rem 0 1.2rem;
        ion-slide{
            width: 6.2rem;
            ion-card{
                width: 100%;
                ion-card-content{
                    p{
                        font-size: 12px;
                        margin-top: .5rem;
                        color: var(--ion-color-dark);
                    }
                }
            }
        }
    }
    #category{
        display: flex;
        padding: 0 3.8rem;
        ion-card{
            width: 15rem;
            margin-right: 1.3rem;
        }
        h4{
            font-size: 15px;
        }
    }
}
ion-content{
    --padding-end: 1.3rem;
    --padding-start: 1.3rem;
    ion-card{
        box-shadow: none;
        margin-top: 2rem;
        --background: var(--ion-color-light);
        ion-item{
            --background: transparent;
            ion-note[slot="start"]{
                padding-top: .6rem;
                padding-bottom: .4rem;
                img{max-width: 30px;}
            }
            ion-label{
                opacity: .5;
                .title{font-size: 13px;}
                .text{font-size: 8px;}
            }
            &.hasData ion-label{
                opacity: 1;
            }
        }
    }
    #address{
        ion-card{
            box-shadow: 0px 3px 6px rgba(232, 239, 253, 0.35);
            #map{
                height: 7rem;
            }
        }
        ion-radio-group{
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            ion-item{
                width: 50%;
                --padding-start: 0;
                --inner-padding-end: 0;
            }
            ion-radio{
                margin-right: 20px;
                --border-width: 1px;
                &.radio-checked+ion-label{opacity: 1;}
            }
            ion-label{
                opacity: .5;
                font-size: 10px;
                line-height: 1;
            }
        }
    }

    #calendar{
        ion-label{
            display: flex;
            align-items: center;
            #date{
                font-size: 20px;
                margin-right: 1rem;
            }
            #hour{
                font-size: 13px;
            }
        }
    }

    #observation{
        ion-grid{padding: 0 2rem 1rem 2rem;}
        .add-photo{
            margin-top: 0;
            --background: var(--ion-color-secondary);
            box-shadow: 0px 3px 6px rgba(68, 68, 68, 0.09);
            ion-card-content{
                display: flex;
                align-items: center;
                padding: 1rem 1.3rem;
                p{
                    opacity: .5;
                    font-size: 9px;
                    line-height: 1;
                }
                img{
                    max-width: 25px;
                    margin-right: 10px;
                }
            }
        }
    }

    #request{
        padding: 2rem 0;
        ion-button{
            height: auto;
            font-size: 13px;
            text-transform: none;
            --padding-top: .9rem;
            --padding-end: 3.5rem;
            --padding-start: 3.5rem;
            --padding-bottom: .9rem;
            --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
        }
    }
}