<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Formulário de serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="save()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Serviço</ion-label>
      <ion-select formControlName="service">
        <ion-select-option *ngFor="let service of services" [value]="service.id">{{ service.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dia da semana</ion-label>
      <ion-select formControlName="week" multiple>
        <ion-select-option *ngFor="let week of weeks" [value]="week.id">{{ week.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Horário de inicial</ion-label>
      <ion-datetime formControlName="start_hour" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horário de final</ion-label>
      <ion-datetime formControlName="end_hour" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de pagamento</ion-label>
      <ion-select formControlName="type_pay">
        <ion-select-option *ngFor="let type_pay of types_pay" [value]="type_pay.id">{{ type_pay.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" formControlName="price" [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}" maxlength="14"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="dark" class="ion-margin-top" [disabled]="form.invalid">Salvar</ion-button>
  </form>

  <div class="ion-padding-horizontal" *ngIf="id">
    <ion-button fill="outline" expand="block" color="danger" (click)="delete()">Remover</ion-button>
  </div>

</ion-content>
