<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trabalhos realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circular"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="empty-list" *ngIf="!object_list.length && !loading">
    <div class="ion-text-center">
      <ion-icon name="construct"></ion-icon>
      <h2>Nenhum registro encontrado!</h2>
    </div>
  </div>
  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col size="6" *ngFor="let object of object_list">
        <ion-card button>
          <ion-button (click)="delete(object.id)" fill="clear" color="danger" size="small">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
          <img [src]="object.image" (click)="showImage(object.image)" />
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{ object.service.name }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col size="6" *ngFor="let index of [0,1,2,3,4,5,6,7]">
        <ion-card>
          <ion-skeleton-text animated class="ion-no-margin" style="height: 7rem;"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerDirection="forward" routerLink="form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
