<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="end" contentId="main-content" type="push" swipeGesture="false" *ngIf="storage.getUser()">
      <ion-header>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerDirection="root" routerLink="/profile">
            <ion-avatar slot="start">
              <ion-img [src]="storage.getUser().profile.photo ? storage.getUser().profile.photo : 'assets/user.png'"></ion-img>
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2 class="ion-no-margin font-weight-bold">Olá {{ storage.getUser().profile.name }}</h2>
              <p>ver perfil</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <div class="vertical-align">
          <ion-list class="ion-no-padding">
            <ion-menu-toggle auto-hide="false" *ngIf="storage.getUser().profile.types == 'autonomous'">
              <ion-item routerDirection="root" routerLink="/profile/my-services" detail="false">
                <ion-label>serviços solicitados</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="storage.getUser().profile.types == 'autonomous'">
              <ion-item routerDirection="root" routerLink="/profile/jobs-done" detail="false">
                <ion-label>histórico de serviços</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle auto-hide="false" *ngIf="storage.getUser().profile.types == 'common'">
          <ion-item routerDirection="root" routerLink="/payment/info" detail="false">
            <ion-label>quero virar profissional</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button lines="none" detail="false" class="logout" (click)="logout()">
            <ion-label class="font-weight-bold">Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
