ion-split-pane{
    &.professional{
        background: var(--ion-color-tertiary);
        ion-item{
            --color: var(--ion-color-tertiary-contrast);
        }
    }
    &.common{
        background: var(--ion-color-secondary);
        ion-item{
            --color: var(--ion-color-secondary-contrast);
        }
    }

    ion-menu {
        top: 4%;
        bottom: 4%;
        --max-width: 60%;

        ion-header{
            &::after{display: none;}
            ion-item{
                ion-avatar{
                    width: 50px;
                    height: 50px;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                }
                h2{
                    font-size: 21px;
                    font-family: 'Poppins', sans-serif;
                }
                p{
                    opacity: .5;
                    font-size: 13px;
                    color: var(--color);
                    text-decoration: none;
                }
            }
        }
        &, ion-content, ion-list{
            --background: transparent;
            --ion-item-background: var(--background);
        }
        ion-label{
            font-size: 10px;
        }
        ion-content{
            .vertical-align{
                height: 100%;
                display: flex;
                align-items: center;
            }
            ion-list{
                width: 100%;
                ion-item {
                    opacity: .5;
                    --padding-end: 1rem;
                    --inner-padding-top: .8rem;
                    --inner-padding-bottom: .8rem;
                }
            }
        }
        ion-footer{
            &::before{display: none;}
            ion-label{opacity: .5;}
            .logout{
                margin-top: 3rem;
                ion-label{
                    font-size: 13px;
                }
            }
        }
    }
    ion-router-outlet{
        box-shadow: none;
    }
}