ion-menu {
    ion-toolbar{
      --padding-top: 2rem;
      --padding-bottom: 2rem;
      --padding-start: 2rem;
      --padding-end: 2rem;
      ion-img{
        max-width: 50%;
        margin: 0 auto .5rem auto;
      }
    }
  
    ion-item {
      --padding-start: 2rem;
      --padding-end: 2rem;
      --padding-top: 10px;
      --padding-bottom: 10px;
      --color: rgba(var(--ion-text-color-rgb,0,0,0),0.54);
      &.selected {
        --color: var(--ion-color-secondary);
        --background: rgba(var(--ion-color-secondary-rgb), 0.14);
        ion-icon{color: var(--ion-color-secondary);}
      }
      ion-label{font-weight: 500;}
    }
  }