<ion-app>
  <ion-split-pane contentId="main-content" [ngClass]="{'common': isCommon(), 'professional': isProfessional()}">
    <ion-menu side="end" contentId="main-content" type="push" swipeGesture="false" *ngIf="storage.getUser()">
      <ion-header>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerDirection="forward" routerLink="/profile">
            <ion-avatar slot="start">
              <ion-img [src]="storage.getUser().profile.photo ? storage.getUser().profile.photo : 'assets/user.png'"></ion-img>
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2 class="ion-no-margin font-weight-bold">Olá {{ storage.getUser().profile.first_name }}</h2>
              <p>ver perfil</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <div class="vertical-align">
          <ion-list class="ion-no-padding">
            <!-- CLIENT -->
            <ion-menu-toggle auto-hide="false" *ngIf="isCommon()">
              <ion-item (click)="goToServiceForm()" detail="false">
                <ion-label>solicitar serviço</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="isCommon()">
              <ion-item routerDirection="root" routerLink="/home" detail="false">
                <ion-label>serviços solicitados</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!-- PROFESSIONAL -->
            <ion-menu-toggle auto-hide="false" *ngIf="isProfessional()">
              <ion-item routerDirection="root" routerLink="/home" detail="false">
                <ion-label>serviços aceitos</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="isProfessional()">
              <ion-item routerDirection="root" routerLink="/home" detail="false">
                <ion-label>serviços em espera</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/home" detail="false">
                <ion-label>histórico de serviços</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle auto-hide="false" *ngIf="isCommon()">
          <ion-item button (click)="openPaymentInfo()" detail="false">
            <ion-label>quero virar profissional</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button lines="none" detail="false" class="logout" (click)="logout()">
            <ion-label class="font-weight-bold">sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
