ion-content{
  --background: var(--ion-toolbar-background);
  ion-item{
    --background: transparent;
    --color: var(--ion-color-light);
    &.item-has-focus ion-label{
      color: var(--ion-color-light);
    }
  }
  ion-avatar{
    position: relative;
    width: 7rem;
    height: 7rem;
    margin: 1rem auto 0 auto;
    ion-fab-button{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
    }
  }
}