<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="vertical-align">
    <ion-card>
      <ion-card-content>
        <div class="header ion-text-center">
          <ion-avatar>
            <ion-img [src]="photo ? photo : 'assets/user.png'" alt=""></ion-img>
            <ion-fab-button color="tertiary" size="small" (click)="takePhoto()">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-avatar>
        </div>
        <div class="text ion-text-center">
          <ion-text color="tertiary"><h2 class="title">Crie seu perfil</h2></ion-text>
          <p>Complete os campos abaixo com suas informações</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="save()" class="ion-padding">
          <ion-item>
            <ion-label position="floating" color="dark">Nome</ion-label>
            <ion-input type="text" formControlName="name" class="font-weight-bold"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input type="email" formControlName="email" class="font-weight-bold"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Telefone</ion-label>
            <ion-input type="text" formControlName="phone" class="font-weight-bold" [brmasker]="{phone: true}" maxlength="15"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Estado</ion-label>
            <ion-select formControlName="state" class="font-weight-bold" (ionChange)="getCities()">
              <ion-select-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="form.get('state').value">
            <ion-label position="floating" color="dark">Cidade</ion-label>
            <ion-select formControlName="city" class="font-weight-bold">
              <ion-select-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Crie sua senha</ion-label>
            <ion-input type="password" formControlName="password" class="font-weight-bold"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Confirmar sua senha</ion-label>
            <ion-input type="password" formControlName="confirmPass" class="font-weight-bold"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="form.get('password').value && form.get('confirmPass').value && form.hasError('notSame')">
            <ion-label color="danger">As senhas não coincidem!</ion-label>
          </ion-item>

          <div class="ion-padding-horizontal">
            <ion-button type="submit" expand="block" color="dark" class="ion-margin-top" [disabled]="form.invalid">Cadastre-se</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
