ion-content{
  ion-avatar{
    position: relative;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    padding: .5rem;
    background: var(--ion-color-secondary);
    ion-fab-button{
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  .vertical-align{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-card{
      overflow: visible;
      margin-top: 4.5rem;
      ion-card-content{
        padding: 2rem;
        .header{
          padding: 0 2rem;
          margin-top: -6.5rem;
        }
        .text{
          padding: 1.5rem 1rem 0 1rem;
          .title{
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: .5rem;
          }
          p{
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 0.65px;
          }
        }
        ion-item{
          --padding-start: 0;
          --min-height: auto;
          --inner-padding-end: 0;
          --ion-color-primary: var(--ion-color-tertiary);
          ion-label{
            opacity: 0.5;
          }
        }
        ion-button{
          height: 40px;
          text-transform: none;
        }
        .forgot-password ion-button{
          font-size: 12px;
          --padding-end: 0;
          --padding-start: 0;
          --border-radius: 0;
        }
      }
    }
  }
}