<ion-header class="ion-padding-top">
  <ion-toolbar class="font-weight-light">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar *ngIf="object" (click)="showImage(object.photo ? object.photo : 'assets/user.png')" class="ion-activatable ripple-parent">
      <ion-img [src]="object.photo ? object.photo : 'assets/user.png'" alt=""></ion-img>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-avatar>
    <ion-buttons slot="end" *ngIf="object">
      <ion-button id="whatsapp" (click)="openWhatsapp()">
        <div>
          <ion-icon name="logo-whatsapp" color="light" size="large"></ion-icon>
          <ion-text color="light"><p>Chamar no<br>Whatsapp</p></ion-text>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="object" id="profile" class="ion-padding-horizontal ion-text-center">
    <h4 class="name ion-no-margin font-weight-bold">{{ object.name }}</h4>
    <div class="services">
      <span *ngFor="let service of object.services">#{{ service.service.name }}</span>
    </div>
    <div class="rating">
      <ion-icon *ngFor="let item of [1,2,3,4,5]" [name]="checkStar(item, object.rating)" color="light"></ion-icon>
      <ion-badge mode="ios">{{ object.rating }}</ion-badge>
    </div>
  </div>
  <ion-segment color="light" mode="md" [(ngModel)]="segment">
    <ion-segment-button value="avaliations">
      <ion-label>Avaliações</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gallery">
      <ion-label>Galeria</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circular"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="avaliations" *ngIf="segment == 'avaliations'">
    <ion-list lines="none" *ngIf="!loading">
      <ion-item class="empty" *ngIf="!object.reviews.length">
        <ion-icon name="sad-outline" slot="start" size="large"></ion-icon>
        <ion-label color="dark" *ngIf="canAddAvaliation()">Seja o primeiro a avaliar!</ion-label>
        <ion-label color="dark" *ngIf="!canAddAvaliation()">Nenhum avaliação encontrada!</ion-label>
      </ion-item>
      <ion-item button *ngFor="let commentary of object.reviews" (click)="openAvaliation(commentary)" [ngClass]="{'featured': commentary.note == 5}">
        <ion-avatar slot="start">
          <ion-img [src]="commentary.from_profile.photo ? commentary.from_profile.photo : 'assets/user.png'" alt=""></ion-img>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <div class="name">
            <ion-text color="tertiary" class="font-weight-bold">{{ commentary.from_profile.name }}</ion-text>
          </div>
          <div class="content">
            <p *ngIf="commentary.text" class="ion-no-margin">{{ commentary.text }}</p>
          </div>
          <div class="icon ion-text-center">
            <ion-icon *ngFor="let item of [1,2,3,4,5]" [name]="checkStar(item, commentary.note)" [color]="commentary.note == 5 ? 'tertiary' :'dark'"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="loading" lines="none">
      <ion-item *ngFor="let item of [1,2,3,4,5,6]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated class="ion-no-margin"></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <div class="content">
            <ion-skeleton-text animated class="ion-no-margin" style="width: 70%;"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated class="ion-no-margin" style="width: 40%;"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div id="gallery" *ngIf="segment == 'gallery'">
    <ion-grid *ngIf="!loading">
      <ion-row>
        <ion-col size="4" class="ion-no-padding" *ngFor="let gallery of object.gallery">
          <ion-card>
            <img src="{{ gallery.image }}" alt="">
          </ion-card>
        </ion-col>
        <ion-col size="6" *ngIf="!object.gallery.length">
          <ion-card class="empty">
            <ion-card-content class="ion-text-center">
              <ion-icon name="sad-outline" size="large"></ion-icon>
              <p>Nenhuma<br>foto<br>registrada!</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="loading">
      <ion-row>
        <ion-col size="4" class="ion-no-padding" *ngFor="let item of [1,2,3,4,5,6]">
          <ion-card>
            <ion-skeleton-text animated class="ion-no-margin" style="height: 6rem;"></ion-skeleton-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="requestService()" fill="outline" color="light" class="font-weight-bold">Solicitar serviço</ion-button>
</ion-footer>
