ion-content{
    --padding-end: 2rem;
    --padding-start: 2rem;
    #top{
        img{max-width: 35%;}
        h2{
            margin: 1.5rem 0;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .text{
        padding: 0 2rem;
        p{
            opacity: .5;
            font-size: 13px;
            color: var(--ion-color-dark);
        }
    }
    ion-button{
        height: auto;
        font-size: 13px;
        margin-top: 1.5rem;
        text-transform: none;
        --padding-top: .9rem;
        --padding-bottom: .9rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
    }
}