.inner-content{
    padding-left: 4rem;
    padding-right: 4rem;
    #top{
        ion-img{
            margin: auto;
            max-width: 35%;
        }
        h2{
            margin: 1.5rem 0;
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .text{
        p{
            opacity: .5;
            font-size: 13px;
            color: var(--ion-color-dark);
        }
    }
    ion-button{
        height: auto;
        font-size: 13px;
        margin-top: 1.5rem;
        text-transform: none;
        --padding-top: .9rem;
        --padding-bottom: .9rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
    }
}