ion-header{
    ion-item{
        ion-avatar{
            width: 45px;
            height: 45px;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
        h2{
            font-size: 21px;
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-size: 13px;
            text-decoration: none;
        }
    }
    ion-buttons{
        margin-right: .5rem;
        ion-menu-button.hasNotification::after{
            content: '';
            position: absolute;
            top: 20%;
            right: 18%;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            animation: pulse 2s infinite;
            background-color: var(--ion-color-tertiary);
        }
    }
}
ion-content{
    --padding-bottom: 2rem;
    --ion-text-color: var(--color);
    &.professional{
        --background: var(--ion-color-tertiary);
        --color: var(--ion-color-tertiary-contrast);
    }
    &.common{
        --background: var(--ion-color-secondary);
        --color: var(--ion-color-secondary-contrast);
    }
    .title{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    
    section{
        padding: 0 1.2rem;
        ion-slides{
            overflow: initial;
        }
    }
    #categories{
        ion-slide{
            width: 6.2rem;
            ion-card{
                width: 100%;
                box-shadow: none;
                ion-card-content{
                    padding: 1.2rem .6rem;
                    ion-img{
                        width: 45px;
                        height: 45px;
                        margin: auto;
                        padding: .5rem;
                        object-fit: contain;
                        border-radius: 10px;
                        background: var(--ion-color-secondary);
                    }
                    p{
                        font-size: 12px;
                        margin-top: .5rem;
                        color: var(--ion-color-dark);
                    }
                }
            }
        }
    }
    .services{
        ion-slide{
            width: 9.5rem;
            &.hasStatus{padding-bottom: 3rem;}
            ion-card{
                img{
                    height: 8rem;
                    padding: 4px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                ion-card-content{
                    padding-top: 0;
                    h4{
                        font-size: 13px;
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: .25px;
                            margin: 8px 0;
                            background: rgba(var(--ion-color-dark-rgb), 0.3);
                        }
                    }
                    p{
                        font-size: 8px;
                        color: var(--ion-color-dark);
                    }
                }
            }
            .status{
                position: absolute;
                top: 65%;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                border-radius: 20px;
                align-items: flex-end;
                justify-content: center;
                border: 3px solid var(--ion-color-light);
                z-index: -1;
                p{
                    opacity: .5;
                    margin: 1rem 0;
                    font-size: 8px;
                }
            }
        }
        .empty {
            padding-bottom: 0;
            ion-card{
                box-shadow: none;
                ion-card-content{
                    opacity: .5;
                    padding: 2rem;
                    p{
                        font-size: 12px;
                        margin-top: .5rem;
                        line-height: 14px;
                        color: var(--ion-color-dark);
                    }
                }
            }
        }
    }
    #history-services{
        .empty{
            width: auto;
            ion-card{
                box-shadow: none;
                ion-card-content{
                    padding: 0 .5rem;
                    ion-icon{
                        margin-right: 10px;
                    }
                    ion-label{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}