<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark" class="font-weight-bold ion-no-padding">Busca por profissional</ion-title>
  </ion-toolbar>
  <ion-item id="search" lines="none">
    <ion-searchbar searchIcon="search-outline" placeholder="busque por profissional"></ion-searchbar>
    <ion-button slot="end" color="tertiary">ir</ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circular"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading" lines="none">
    <ion-item *ngFor="let object of object_list" routerDirection="forward" routerLink="professional/{{ object.id }}">
      <ion-avatar slot="start">
        <ion-img [src]="object.photo ? object.photo : 'assets/user.png'" alt=""></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <div class="name">
          <ion-text color="tertiary" class="font-weight-bold">{{ object.name }}</ion-text>
        </div>
        <div class="stars ion-text-center">
          <ion-icon *ngFor="let item of [1,2,3,4,5]" [name]="checkStar(item, object.rating)" color="dark"></ion-icon>
        </div>
        <div class="icon ion-text-right">
          <img src="assets/icon/metro-profile.png" alt="">
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="empty" *ngIf="!object_list.length">
      <ion-icon name="sad-outline" slot="start" size="large"></ion-icon>
      <ion-label color="dark">Nenhum profissional encontrado!</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading" lines="none">
    <ion-item *ngFor="let index of [0,1,2,3,4,5,6,7]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated class="ion-no-margin"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated class="ion-no-margin"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
