ion-item{
    --background: transparent;
    background: var(--background);
}
ion-title{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
ion-content{
    --background: #FFF;
    ion-list {
        padding: 1.5rem .7rem;
        ion-icon{font-size: 1rem;}
        ion-item{
            --background: var(--ion-color-secondary);
            border-radius: 20px;
            margin-bottom: 1rem;
            &.empty{
                ion-icon{margin-right: 10px;}
                ion-label{
                    opacity: .5;
                    font-size: 12px;
                }
            }
            ion-label{
                display: flex;
                line-height: 1;
                align-items: center;
                justify-content: space-between;
                .name{
                    width: 25%;
                    align-self: start;
                }
                .stars{width: 50%;}
                .icon{width: 25%;}
                img{max-width: 25px;}
                ion-text{font-size: 12px;}
            }
        }
    }
}