ion-content{
  .vertical-align{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-card{
      overflow: visible;
      margin-top: 3rem;
      ion-card-content{
        padding: 2rem;
        .header{
          padding: 0 2rem;
          margin-top: -5rem;
        }
        .text{
          padding: 0 2rem;
          .title{
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: .5rem;
          }
          p{
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 0.65px;
          }
        }
        ion-item{
          --padding-start: 0;
          --inner-padding-end: 0;
          --ion-color-primary: var(--ion-color-tertiary);
          ion-label{opacity: 0.5;}
        }
        ion-button{
          height: 40px;
          text-transform: none;
        }
        .forgot-password ion-button{
          font-size: 12px;
          --padding-end: 0;
          --padding-start: 0;
          --border-radius: 0;
        }
      }
    }
  }
}