<ion-content color="secondary" class="ion-padding">

  <div class="vertical-align">
    <ion-card>
      <ion-card-content>
        <div class="header ion-text-center">
          <img src="assets/login.png" alt="">
        </div>
        <div class="text ion-text-center">
          <ion-text color="tertiary"><h2 class="title">Bem-vindo</h2></ion-text>
          <p>Faça o login abaixo para acessar a sua conta</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="auth()">
          <ion-item>
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input type="email" formControlName="username" class="font-weight-bold"></ion-input>
            <ion-icon slot="end" name="mail" class="ion-align-self-end"></ion-icon>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating" color="dark">Senha</ion-label>
            <ion-input [type]="togglePass ? 'text' : 'password'" formControlName="password" class="font-weight-bold"></ion-input>
            <ion-icon button slot="end" [name]="togglePass ? 'eye' : 'eye-off'" class="ion-align-self-end" (click)="togglePass = !togglePass"></ion-icon>
          </ion-item>

          <div class="ion-text-right forgot-password">
            <ion-button fill="clear" color="tertiary" routerDirection="forward" routerLink="/forgot-password">Esqueceu sua senha?</ion-button>
          </div>
      
          <div class="ion-padding-horizontal ion-text-center">
            <ion-button type="submit" expand="block" color="tertiary" class="ion-margin-top" [disabled]="form.invalid">Entrar</ion-button>
            <p class="font-weight-bold ion-padding-vertical">ou se você é novo,</p>
            <ion-button expand="block" color="dark" routerDirection="forward" routerLink="/register">Cadastre-se</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
