<ion-content color="secondary">

  <ion-slides #slides>
    <ion-slide>
      <div class="ion-text-center">
        <div class="header">
          <ion-text color="tertiary"><h1 class="title font-weight-bold ion-margin-bottom">Crie solicitações de tarefas</h1></ion-text>
          <ion-text color="dark"><p class="font-weight-light ion-padding-horizontal">Você pode criar solicitações de tarefas em um amplo banco de dados com mais de 300 prestadores de serviços cadastrados.</p></ion-text>
        </div>
        <div class="image">
          <img src="assets/intro-1.png" alt="">
        </div>
        <div class="footer">
          <ion-button fill="clear" color="dark" (click)="goToNext()" class="ion-text-capitalize font-weight-medium">
            Pular
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <div class="header">
          <ion-text color="tertiary"><h1 class="title font-weight-bold ion-margin-bottom">Serviço de qualidade</h1></ion-text>
          <ion-text color="dark"><p class="font-weight-light ion-padding-horizontal">Foram selecionados os melhores profissionais e os mais capacitados para lhe entregar um ótimo serviço.</p></ion-text>
        </div>
        <div class="image">
          <img src="assets/intro-2.png" alt="">
        </div>
        <div class="footer">
          <ion-button fill="clear" color="dark" (click)="goToNext()" class="ion-text-capitalize font-weight-medium">
            Pular
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <div class="header">
          <ion-text color="tertiary"><h1 class="title font-weight-bold ion-margin-bottom">Quem é você?</h1></ion-text>
          <ion-text color="dark"><p class="font-weight-light ion-padding-horizontal">Essa etapa aparecerá apenas na sua primeira entrada no aplicativo. Escolha a opção abaixo e aproveite os nossos serviços.</p></ion-text>
        </div>
        <div class="image ion-activatable ripple-parent" (click)="goToLogin()">
          <img src="assets/intro-3.png" alt="">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
