<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal ion-padding-bottom ion-text-center">

  <div id="top">
    <img src="assets/icon/calendar.png" alt="">
    <ion-text color="tertiary"><h2 class="font-weight-bold">Escolha a data e um horário</h2></ion-text>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()" class="ion-padding">

    <ion-item lines="none">
      <ion-label>Data</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD MMM YYYY" [min]="minDate" [max]="maxDate" class="font-weight-bold" [monthShortNames]="monthShortNames" cancelText="Cancelar" doneText="Ok"></ion-datetime>
    </ion-item>

    <ion-item button lines="none" (click)="openPicker()">
      <ion-label>Horário</ion-label>
      <ion-input type="text" formControlName="time" class="font-weight-bold" readonly></ion-input>
    </ion-item>

    <ion-button type="submit" color="tertiary" class="font-weight-bold" [disabled]="form.invalid">Adicionar</ion-button>
  </form>

</ion-content>
