.inner-content{
    #top{
        padding: 0 3.5rem;
        img{max-width: 35%;}
        h2{
            font-size: 22px;
            font-family: 'Poppins', sans-serif;
        }
    }
    ion-label{flex: inherit;}
    ion-button{
        height: auto;
        font-size: 13px;
        text-transform: none;
        --padding-top: .9rem;
        --padding-end: 4.5rem;
        --padding-start: 4.5rem;
        --padding-bottom: .9rem;
        --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
    }
}