<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal ion-padding-bottom ion-text-center">

  <div id="top">
    <img src="assets/icon/calendar.png" alt="">
    <ion-text color="tertiary"><h2 class="font-weight-bold">Escolha a data e um horário</h2></ion-text>
  </div>

  <ion-button color="tertiary" (click)="save()" class="font-weight-bold">Adicionar</ion-button>

</ion-content>
