/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

#empty-list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    ion-icon{
        font-size: 5rem;
    }
}
ion-alert .text-danger.alert-button{color: var(--ion-color-danger);}

.ion-page ion-modal{
    --max-width: 90%;
    --max-height: 90%;
    &.modal-avaliation{
        --max-width: 80%;
        --max-height: 19rem;
        --border-radius: 5px;
    }
}

.menu-content-open{
    &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background: #FFF;
        transform: scale(.9, .85);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    &::after{
        transform: scale(.98, .8);
    }
    .ion-page{
        transform: scale(.8, .9);
    }
}
.ion-page{
    transition: all .1s;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}

ion-card{
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
ion-button{
    --border-radius: 20px;
}
ion-header{
    &::after{display: none;}
    ion-toolbar{
        --ion-toolbar-background: transparent;
        ion-button{
            font-family: 'Poppins', sans-serif;
            text-transform: none;
        }
    }
}
ion-content{
    --background: var(--ion-color-secondary);
}
#search{
    --padding-start: 1rem;
    --inner-padding-end: 1rem;
    ion-button{
        --padding-end: 12px;
        --padding-start: 12px;
        --border-radius: 13px;
        margin-inline-start: 5px;
        margin-top: 12px;
        margin-bottom: 12px;
        height: calc(100% - 18px);
        font-weight: bold;
        text-transform: none;
        font-size: 18px;
        --box-shadow: none;
    }
    ion-searchbar{
        padding-left: 0;
        --box-shadow: none;
        --background: var(--ion-color-light);
        --color: var(--ion-color-dark);
        ion-icon{
            top: 14px;
        }
        input{
            font-size: 12px;
            border-radius: 13px;
            padding-inline-end: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.font-weight-thin{font-weight: 100 !important;}
.font-weight-light{font-weight: 300 !important;}
.font-weight-regular{font-weight: 400 !important;}
.font-weight-medium{font-weight: 500 !important;}
.font-weight-bold{font-weight: 700 !important;}
.font-weight-black{font-weight: 900 !important;}