<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circular"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="empty-list" *ngIf="!object_list.length && !loading">
    <div class="ion-text-center">
      <ion-icon name="construct"></ion-icon>
      <h2>Nenhum registro encontrado!</h2>
    </div>
  </div>

  <ion-list *ngIf="!loading">
    <ion-item-sliding *ngFor="let object of object_list"> 
      <ion-item routerDirection="forward" routerLink="form/{{ object.id }}">
        <ion-avatar slot="start">
          <ion-img [src]="object.service.icon" alt=""></ion-img>
        </ion-avatar>
        <ion-label>{{ object.service.name }}</ion-label>
      </ion-item>

      <ion-item-options side="end" (ionSwipe)="delete(object.id)">
        <ion-item-option color="danger" (click)="delete(object.id)" expandable>
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let index of [0,1,2,3,4,5,6,7]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated class="ion-no-margin"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated class="ion-no-margin"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerDirection="forward" routerLink="form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
