<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="close()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="inner-content ion-padding-horizontal ion-padding-bottom ion-text-center">

  <div id="top">
    <img src="assets/icon/gratipay.png" alt="">
    <ion-text color="tertiary"><h2 class="font-weight-bold">Mostre algo que possa ajudar</h2></ion-text>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Observação</ion-label>
      <ion-textarea formControlName="text" class="font-weight-bold"></ion-textarea>
    </ion-item>

    <ion-button type="submit" color="tertiary" class="font-weight-bold" [disabled]="form.invalid">Adicionar</ion-button>
  </form>

</div>
