<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seja autônomo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      
      <div id="image">
        <ion-icon name="construct" color="dark" style="font-size: 10rem;"></ion-icon>
      </div>

      <h2 class="ion-margin-bottom">Teste Grátis por 15 dias!</h2>
      <p class="ion-no-margin">Venha ser um autônomo.</p>
      <p class="ion-no-margin">Coloque seus serviços para todos poderem contatar você!</p>

      <ion-button expand="block" color="dark" class="ion-margin-top">Começar teste</ion-button>

    </ion-slide>
  </ion-slides>

</ion-content>
