ion-header{
    background: linear-gradient(to top, #FFF 25%, var(--ion-color-secondary) 0);
    ion-title{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    #category{
        padding: 1rem 1.3rem 0 1.3rem;
        ion-card{
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            ion-card-content{
                display: flex;
                .icon{
                    padding: 1.5rem 2rem;
                    display: flex;
                    align-items: center;
                    background: var(--ion-color-tertiary);
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                        filter: brightness(5);
                    }
                }
                .text{
                    padding: .8rem 1.5rem;
                    h4{
                        font-size: 13px;
                        margin-bottom: .6rem;
                        span{text-transform: lowercase;}
                    }
                    p{
                        font-size: 8px;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}
ion-content{
    --background: #FFF;
    --padding-end: 1.3rem;
    --padding-start: 1.3rem;
    ion-card{
        box-shadow: none;
        margin-top: 2rem;
        --background: var(--ion-color-light);
        ion-item{
            --background: transparent;
            ion-note[slot="start"]{
                padding-top: .6rem;
                padding-bottom: .4rem;
                img{max-width: 30px;}
                ion-avatar{
                    width: 30px;
                    height: 30px;
                }
            }
            ion-label{
                .title{font-size: 13px;}
                .text{font-size: 8px;}
            }
        }
    }

    #calendar{
        ion-label{
            display: flex;
            align-items: center;
            #date{
                font-size: 20px;
                margin-right: 1rem;
            }
            #hour{
                opacity: .5;
                font-size: 13px;
            }
        }
    }

    #observation{
        ion-grid{padding: 0 2rem 1rem 2rem;}
        .add-photo{
            margin-top: 0;
            --background: var(--ion-color-secondary);
            box-shadow: 0px 3px 6px rgba(68, 68, 68, 0.09);
            ion-card-content{
                display: flex;
                align-items: center;
                padding: 1rem 1.3rem;
                p{
                    opacity: .5;
                    font-size: 9px;
                    line-height: 1;
                }
                img{
                    max-width: 25px;
                    margin-right: 10px;
                }
            }
        }
    }

    #request{
        padding: 2rem 0;
        ion-button{
            height: auto;
            font-size: 13px;
            text-transform: none;
            --padding-top: .9rem;
            --padding-end: 3.5rem;
            --padding-start: 3.5rem;
            --padding-bottom: .9rem;
            --box-shadow: 0px 5px 25px rgba(98, 74, 252, 0.35);
        }
    }
}